{
    "CN": "etcd",
    "hosts": [
      "127.0.0.1",
      "{{ ansible_ens33.ipv4.address }}"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "GD",
            "ST": "Shenzhen",
            "OU": "System",
            "O": "k8s"
        }
    ]
}

